
.menu-top
{

    -fx-background-color: rgba(34, 34, 34, 0.95);
    -fx-effect: dropshadow(gaussian, #181818,5,0.45,1,1);

}


.button {

}



.main-pane
{
    -fx-background-color: #414a4b;
    -fx-base: rgba(1,1,1,1);
}

.se
{
    -fx-background-color: #00ffb0, gainsboro;
    -fx-effect: dropshadow(gaussian, #181818,5,0.45,1,1);
    -fx-background-insets: 0,2;
    -fx-background-radius: 0%,0%;
}


.toggle-button:selected
{
    -fx-background-color: #313131;
}

.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-title{

    -fx-text-fill: #ecf0f1;
}
.axis-label
{
    -fx-text-fill: #ecf0f1;
}
.data0.chart-bar
{
    -fx-background-color:linear-gradient(#43c27b, #246b43), #3FC380;
}

.data1.chart-bar
{
}
.data2.chart-bar
{
    -fx-background-color:#F9690E;
}
.data3.chart-bar
{
    -fx-background-color: #f10012;
}
#dev_hbox
{
    -fx-background-color: gainsboro;
    -fx-border-radius: 50%;
}
#quick-b
{
    -fx-background-color: #009297;
    -fx-text-fill: gainsboro;
}


#quick_g
{
    -fx-text-fill: gainsboro;
    -fx-background-color: #34495e;
}
