
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Agency FB";
    -fx-base: rgba(100, 27, 28, 0.86);
    -fx-background: rgb(83, 83, 83);
}
.button1{
    -fx-text-fill: #641b1c;
    -fx-background-color: #000000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}